* {
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("/assets/img/bg.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	height: 20%;
	position: relative;
	width: 50%;
	left: 25%;
	top: 60%;
}

.form input[type="text"] {
	font-size: 18px;
	width: 100%;
	padding: 20px 30px;
	border: none;
	outline: none;
	box-shadow: 3px 3px 5px black;
}

.form .download-form input[type="submit"] {
	font-size: 18px;
	margin-top: -10px;
	border: none;
	padding: 20px 30px;
	background-color: #4286f4;
	color: #fff;
	width: 100%;
	cursor: pointer;
}

#checkmark {
	position: relative;
	top: -15px;
	width: 40px;
	height: auto;
}

#cross {
	position: relative;
	top: -20px;
	height: auto;
	width: 40px;
}

.hide {
	display: none;
}

#status {
	width: 7.5%;
	position:relative;
	left: 91.5%;
	top: -31.5px;
}